@import './variables';
// фонт миксин для текста
@mixin font($fs, $fc, $fw) {
  font-family: $font;
  font-size: $fs;
  color: $fc;
  font-weight: $fw;
}
// флекс миксин для разметки
@mixin flex($fd, $jc, $ai) {
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
// медиа миксин для экранов
@mixin _screenMobile {
  @media screen and (max-width: 580px) {
    @content;
  }
}